*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  background-color: lightblue;
  padding: 10px 0;
}

.row{
  margin: 10px;
  background-color: red;
}