*{

    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 50px;
    scroll-margin-left: 20px;
}

body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.row{
    width: 100%;
    margin: 0 auto;
}

.nav-link{
    text-align: center;
}

.navbar-brand{
    margin: auto 30px;
}


.body-container{
    margin-top: 75px;
}

.item{
    width: 100%;
    margin: 20px auto;
    background-color: #acacac;
    border: 2px solid black;
    border-radius: 16px;
}

.item-body{
    margin-top: 15px;
}

#body-head{
    font-size: 1.7em;
    margin: 15px auto 20px;
}

.item-head{
    font-size: 1.2em;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 15px;
    width: 40%;
    position: relative;
    top: 0;
    left: 60%;
    text-align: center;
    padding: 7px 10px;
    border-start-start-radius: 0;
    border-end-end-radius: 0;
}

#chicken-head{
    background-color: #a6e4f3;
}

#beef-head{
    background-color: #c6f3a6;
}

#sushi-head{
    background-color: #f3a6cc;
}

.item-body{
    padding: 10px 20px;
}

@media (min-width : 996px){
    .navbar-nav {
        margin-left: 550px;
    }

    .nav-item{
        margin-right: 30px;
    }

    .nav-link{
        padding: 5px 0;
    }

    .nav-item .nav-link:hover{
        border-bottom: 1px solid black;
        transition: 0.3s ease-in-out;
    }
}
